
@{
    ViewBag.Title = "Blog Single Post";
}


<div class="container-fluid container-background text-center">
    <div class="center-all-content">
        <div class="container">
            <h1 class="font-weight-bold bg-dark text-white d-inline-block">@ViewBag.Title</h1>
        </div>
        <div class="container">
            <img class="border border-dark my-4" src="~/LocalResources/@ViewBag.Image" alt="Alternate Text" />
        </div>
        <div class="container px-5">
            <p class="font-weight-bold">We Have Free Templates for Everyone</p>
            <p class="h6 font-weight-normal">Our website templates are created with inspiration, checked for quality and originality and meticulously sliced and coded. What's more, they're absolutely free! You can do a lot with them. You can modify them. You can use them to design websites for clients, so long as you agree with the <a class="text-black-50" href="#">Terms of Use</a>. You can even remove all our links if you want to.</p>
        </div>
    </div>
</div>

<div class="center-all-content text-center">
    <div class="container px-5">
        <p class="font-weight-bold mt-3">We Have More Templates for You</p>
        <p class="h6 font-weight-normal">Looking for more templates? Just browse through all our <a class="text-black-50" href="#">Free Website Templates</a> and find what you're looking for. But if you don't find any website template you can use, you can try our <a class="text-black-50" href="#">Free Web Design</a> service and tell us all about it. Maybe you're looking for something different, something special. And we love the challenge of doing something different and something special.</p>
        <p class="font-weight-bold mt-3">Be Part of Our Community</p>
        <p class="h6 font-weight-normal">If you're experiencing issues and concerns about this website template, join the discussion <a class="text-black-50" href="#">on our forum</a> and meet other people in the community who share the same interests with you.</p>
        <p class="font-weight-bold mt-3">Template Details</p>
        <p class="h6 font-weight-normal">Version 2. Website Template details, discussion and updates for this <a class="text-black-50" href="#">Mustacchio Template</a>. Website Template design by <a class="text-black-50" href="#">Free Website Templates</a>. Please feel free to remove some or all the text and links of this page and replace it with your own About content.</p>
    </div>
</div>