
@{
    ViewBag.Title = "Blog";
}

<div class="container-background">
    <div class="text-center pb-2">
        <h2 class="font-weight-bold text-uppercase text-white bg-dark d-inline-block px-3 py-1">Blog</h2>
        <div class="container">
            <div class="container" style="width:900px;">
                <div class="card mb-3 border border-dark rounded-0">
                    <div class="row">
                        <div class="col-md-4 border border-0 border-dark">
                            <img src="~/LocalResources/cutting-mustache.jpg" class="card-img" alt="Text Alternative">
                        </div>
                        <div class="col-md-8 text-center">
                            <div class="card-body">
                                <h5 class="card-title font-weight-bold text-uppercase bg-dark text-white d-inline-block">WHY I GREW A MUSTACHE</h5>
                                <p class="card-text">Our website templates are created with inspiration, checked for quality and originality and meticulously sliced and coded. What's more, they're absolutely free! You can do a lot with them. You can modify them.</p>
                            </div>
                            <div>
                                @Html.ActionLink("READ THIS", "BlogPost", "Home", new { image = "cutting-mustache.jpg" }, new { @class= "btn btn-dark border-0 px-5" })
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="container" style="width:900px;">
                <div class="card mb-3 border border-dark rounded-0">
                    <div class="row">
                        <div class="col-md-4 border border-0 border-dark">
                            <img src="~/LocalResources/in-the-country.jpg" class="card-img" alt="Text Alternative">
                        </div>
                        <div class="col-md-8 text-center">
                            <div class="card-body">
                                <h5 class="card-title font-weight-bold text-uppercase bg-dark text-white d-inline-block">IN THE COUNTRY</h5>
                                <p class="card-text">Our website templates are created with inspiration, checked for quality and originality and meticulously sliced and coded. What's more, they're absolutely free! You can do a lot with them. You can modify them.</p>
                            </div>
                            <div>
                                @Html.ActionLink("READ THIS", "BlogPost", "Home", new { image = "in-the-country.jpg" }, new { @class = "btn btn-dark border-0 px-5" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="container" style="width:900px;">
                <div class="card mb-3 border border-dark rounded-0">
                    <div class="row">
                        <div class="col-md-4 border border-0 border-dark">
                            <img src="~/LocalResources/mustache-brothers.jpg" class="card-img" alt="Text Alternative">
                        </div>
                        <div class="col-md-8 text-center">
                            <div class="card-body">
                                <h5 class="card-title font-weight-bold text-uppercase bg-dark text-white d-inline-block">THE MUSTACHE BROTHERS</h5>
                                <p class="card-text">Our website templates are created with inspiration, checked for quality and originality and meticulously sliced and coded. What's more, they're absolutely free! You can do a lot with them. You can modify them.</p>
                            </div>
                            <div>
                                @Html.ActionLink("READ THIS", "BlogPost", "Home", new { image = "mustache-brothers.jpg" }, new { @class = "btn btn-dark border-0 px-5" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>