@{
    ViewBag.Title = "Home Page";
}

<div class="container-fluid container-background clearfix py-5">
    <div class="col-md-6 float-left">

    </div>
    <div class="col-md-6 float-right py-5">
        <h5 class="font-weight-bold text-uppercase bg-white d-inline-block m-2 p-3">The beacon to all mankind</h5><br />
        <p class="text-capitalize bg-dark text-white d-inline-block m-2 p-2">Our website templates are created with</p><br />
        <p class="text-lowercase bg-dark text-white d-inline-block m-2 p-2">inspiration, checked for quality and originality</p><br />
        <p class="text-lowercase bg-dark text-white d-inline-block m-2 p-2">and meticulously sliced and coded.</p><br />
        <button class="btn btn-info font-weight-bold rounded-0 m-2 p-3">READ MORE</button>
    </div>
</div>

<div class="container px-5 mt-4 pb-5 mb-5">
    <div class="container px-5">
        <div class="container px-5">
            <div class="card-deck">
                <div class="card border-0">
                    <img class="card-img-top border border-dark" src="~/LocalResources/the-father.jpg" alt="Alternate Text" />
                    <div class="card-body">
                        <h5 class="text-uppercase text-center">The father</h5>
                    </div>
                </div>
                <div class="card border-0">
                    <img class="card-img-top border border-dark" src="~/LocalResources/the-actor.jpg" alt="Alternate Text" />
                    <div class="card-body ">
                        <h5 class="text-uppercase text-center">The actor</h5>
                    </div>
                </div>
                <div class="card border-0">
                    <img class="card-img-top border border-dark" src="~/LocalResources/the-nerd.jpg" alt="Alternate Text" />
                    <div class="card-body">
                        <h5 class="text-uppercase text-center">The nerd</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
