.container-background {
    position: relative;
    background: url(../LocalResources/the-beacon.jpg);
    background-size: auto;
    background-repeat: no-repeat;
}

.center-all-content{
    padding-left: 20.2rem;
    padding-right: 20.2rem;
}